@import "../../app.scss"; // Ensure you have the app.scss imported for uniform styles.

.testimonials-container {
  padding: 4rem 2rem;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #34d399;
  }

  .testimonials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;

    .testimonial-item {
      background: #F7F9F2; 
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      max-width: 300px;
      transition: transform 0.3s ease;
      color: #181C14; 
      // text-align: start;


      &:hover {
        transform: translateY(-5px);
      }

      .client-image {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-bottom: 1rem;
      }

      .testimonial-text {
        margin: 1rem 0;
        line-height: 1.5;
        color: #000000;
        text-align: start;

      }

      .client-name {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .client-title {
        color: #181C14; // A lighter shade for the title
        font-size: 0.9rem;
      }
    }
  }
}
